/Poo_U2_P9_Quezada/nbproject/private/
/Poo_U2_P9_Quezada/build/
/Operaciones/nbproject/private/
/Operaciones/build/
/Interfaces_Abstraccion/nbproject/private/
/TiendaCRUDMVC/nbproject/private/
/TiendaCRUDMVC/build/
/Ejercicio_2_Tutorias/nbproject/private/
/Ejercicio_2_Tutorias/build/
/Ejercicio1_Tutorias/nbproject/private/
/Ejercicio1_Tutorias/build/
/Ejercicio3_Tutorias/nbproject/private/
/Ejercicio3_Tutorias/build/
/Poo_Tarea1_Grupo4_MVC/build/
